@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/* Prevenir overflow horizontal global */
html, body {
  overflow-x: hidden;
  max-width: 100vw;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}